* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
.header{
    max-width: 1840px;
    // width: 1400px;
    width: 100%;
    height: 100vh;
    // background: 
    //             url('/css/images/orqa-rasm.png') no-repeat center center/cover;
    padding: 20px 20px;
    position: relative;
    // padding-left: 50px;
      margin: 0 auto;

    .container{
        width: 1189px;
        height: 758px;
          
        position: absolute;
        left: 40px;
    }

    .orqa-rasm{
        position: absolute;
        z-index: (-1);
         width: 1440px;
         height: 1040px;

        opacity: 1;
    }

    .navbar{
        display: flex;
        justify-content: space-between;
        // gap: 40px;
        // padding: 20px 20px;
        
        // padding-left: 60px;
        // border: 1px solid red;
        width: 702.6461181640625px;
height: 50px;
top: 43px;
left: 157px;
position: absolute;
opacity: 1;

      .logativ{
        width: 189px;
        height: 50px;
        gap: 20px;
        color: #ffffff;
        display: flex;
        align-items: center;
                border: 2px solid white;
        border-left: 1px;
        border-top: 1px;
         border-bottom: 1px;
         
      }
      .logo{
        color: #FFFFFF;
        font-size: 23px;
        
      }


    }
     
    .nav-left{
        display: flex;
        justify-content: space-between;

        
    }

    .nav-leftiy{
        display: flex;
          gap: 30px;
          
                  width: 702.6461181640625px;
                  align-items: center;
       height: 50px;
       position: absolute;
       left: 220px;
       color: #ffffff;

    }
    .location{
        width: 375px;
        height: 54px;
                       border: 2px solid white;
        border-left: 1px;
        border-top: 1px;
         border-bottom: 1px;
        padding-top: 17px;
    }
      
    .nav-right{
        display: flex;
    }

    .lakatsya{
        position: absolute;
         left: -20px;

    }
    .tel{
        position: absolute;
        left: 380px;
    }
    .lang-switcher{
        position: absolute;
        width: 160px;
        left: 970px;
        top: 18px;
        align-items: center;
        gap: 20px;
        display: flex;
        text-align: center;
        color: #ffffff;
    }
}